<!doctype html>
<html class="no-js" lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no" />
    <title>{{ object.title }}</title>
    <link rel="stylesheet" href="{% static 'page/app.css' %}">
  </head>
  <body>
    <div id="main">
      <h4>{{ object.title }}</h4>
      <div>{{ object.content|safe }}</div>
    </div>
  </body>
</html>
