<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=false">
    <title>{{obj.title}}</title>
    <link href="https://cdn.bootcss.com/pure/1.0.0/base-min.css" rel="stylesheet">
<style>
.container {
  max-width: 960px;
  width: 100%;
  padding: 1rem 2rem;
  box-sizing: border-box;
  margin: 0 auto;
}
.datetime {
  font-size: 0.85rem;
  color: grey;
}
img {
  max-width: 100%;
  height: 100% !important;
}
.content {
  color: rgba(0,0,0,0.87);
}
</style>
</head>
</body>
  <div class="container">
    <h2>{{ obj.title }}</h2>
    <p class="datetime">{{obj.created}}</p>
    <div class="content">
      {{obj.content|safe}}
    </div>
  </div>
</body>
